.social-post {
	width: 250px;
	height: 250px;
	padding: 40px 30px;
	color: $charcoal;
	margin-left: 25px;
	background-color: $white;
	position: relative;
	box-shadow: 0px 15px 50px #0000000f;
	z-index: -1;
	

	p {
		font-family: $primaryFont;
		font-size: 1.4rem;
		margin-left: 5px;
	}

	.buzzfeed {
		font-family: $primaryFont;
		font-size: 2.2rem;
		letter-spacing: 0.44px;
	}
	.buzzfeedpost {
		width: 190px;
		height: 123px;
		margin-top: 16px;
		font-family: $secondaryFont;
		font-size: 1.5rem;
		letter-spacing: 0.15px;
	}

	.social-media-clicks {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.post-specs {
		font-family: $secondaryFont;
		font-size: 1.5rem;
		letter-spacing: 0.15px;
	}
}
