.social-media {
	width: 250px;
	height: 250px;
	padding: 15px;
	background-color: $white;
	position: relative;
	box-shadow: 0px 15px 50px #0000000F;
	z-index: -1;
	margin-left: 25px;

	.social-media-img {
		width: 222px;
		height: 221px;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.social-media-icon {
		width: 60px;
		height: 60px;
		position: absolute;
		top: 0;
		right: 0;
		background-image: url("../../img/instagram-btn.png");
		background-repeat: no-repeat;
		background-size: cover;
	}
}
