.community-container {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr;
	color: $charcoal;
	padding: 80px 0;
	

	.social-media-container {
		position: relative;
		.social-media-detail2 {
			width: 134px;
			height: 98px;
			background-image: url("../../img/detail02.png");
			background-repeat: no-repeat;
			background-size: cover;
			position: absolute;
			left: 180px;
			bottom: 14px;
			z-index: -1;
		}

		.social-media-detail1 {
			width: 24px;
			height: 72px;
			background-image: url("../../img/detail01.png");
			background-repeat: no-repeat;
			background-size: cover;
			position: absolute;
			left: 534px;
			bottom: 22px;
			z-index: -1;
		}

		.social-media-detail3 {
			width: 138px;
			height: 138px;
			background-image: url("../../img/detail03.png");
			background-repeat: no-repeat;
			background-size: cover;
			position: absolute;
			left: 80px;
			bottom: -40px;
			z-index: -1;
		}
	}

	.community {
		font-family: $primaryFont;
		text-transform: uppercase;
		justify-self: flex-end;

		h3 {
			width: 232px;
			height: 114px;
			font-size: 6.2rem;
			line-height: 5.2rem;
			position: relative;

			.line-through {
				width: 266px;
				height: 6px;
				position: absolute;
				left: -17px;
				top: 71px;
				background-color: $lightSalmon;
				z-index: -1;
			}
		}

		p {
			width: 200px;
			height: 116px;
			font-size: 2.2rem;
			line-height: 2.5rem;
			letter-spacing: 0.44px;
			margin-top: 40px;
		}

		button {
			width: 91px;
			height: 30px;
			border: none;
			font-size: 1.8rem;
			background-color: $lightSalmon;
			font-family: $primaryFont;
			color: $charcoal;
			text-transform: uppercase;
			&:hover {
				cursor: pointer;
				background-color: $charcoal;
				color: $lightSalmon;
			}
		}
	}
}
