.homepage-bgc {
	width: 100%;
	height: 100vh;
	background-color: $lightSalmon;
	position: absolute;
	z-index: -1;
	left: 0;
}

.homepage {
	width: 63%;
	height: 100vh;
	background-image: url("../../img/bg-img-homepage.png");
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: 130%;
	position: relative;
	z-index: -1;
  display: flex;
  align-items: center;

	.stamp {
		width: 142px;
		height: 141px;
		position: absolute;
		top: 100px;
		background-image: url("../../img/stamp-png.png");
		background-repeat: no-repeat;
		background-size: 100%;
	}

	.title-box {
		font-family: $primaryFont;
		color: $white;
		text-align: center;
		text-transform: uppercase;
    
		h1 {
			font-size: 8.2rem;
      line-height: 8.5rem;
			span {
				font-size: 11.5rem;
			}
		}
		p {
			font-size: 3.5rem;
		}
	}
}
