.form-container {
	width: 100vw;
	height: 462px;
	align-items: center;
	justify-content: center;
	background-color: $lightSalmon;

	.form-wrapper{
		width: $maxWidth;
		height: 100%;
		
		div {
			width: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			&:nth-child(1) {
				flex-direction: column;
				article {
					z-index: 2;
					h2 {
						width: 160px;
						font-size: 3.5rem;
						margin-left: 20px;
						font-family: $primaryFont;
						color: $charcoal;
						text-transform: uppercase;
	
						span {
							font-size: 6.2rem;
							position: relative;
							.line-through {
								width: 194px;
								height: 8.7px;
								position: absolute;
								left: -20px;
								top: 30px;
								background-color: $white;
								z-index: -1;
							}
						}
					}
	
					p {
						width: 400px;
						font-size: 1.5rem;
						margin-top: 20px;
						font-family: $secondaryFont;
						color: $mediumGrey;
						letter-spacing: 0.15rem;
						line-height: 20px;
					}
				}
			}
	
			&:nth-child(2) {
				position: relative;
	
				.social-media-detail {
					width: 134px;
					height: 98px;
					background-image: url("../../img/detail02.png");
					background-repeat: no-repeat;
					background-size: cover;
					position: absolute;
					left: 206px;
					top: 0;
					z-index: 1;
				}
	
				form {
					width: 540px;
					margin-right: 136px;
					display: flex;
					justify-content: space-between;
					padding-top: 30px;
	
					p {
						margin-top: 20px;
						font-family: $primaryFont;
						font-size: 1.4rem;
						letter-spacing: 0.14px;
						color: $charcoal;
						text-transform: uppercase;
					}
					select {
						font-family: $secondaryFont;
						font-size: 1.5rem;
						letter-spacing: 0.15px;
						color: $mediumGrey;
					}
	
					input,
					select {
						width: 250px;
						background-color: transparent;
						border: none;
						border-bottom: 1px solid $charcoal;
						padding: 10px 0;
						margin-top: 10px;
						&::placeholder {
							color: $mediumGrey;
							font-family: $secondaryFont;
							font-size: 1.5rem;
							letter-spacing: 0.15px;
							opacity: 0.3;
						}
						&:focus {
							outline: none;
						}
					}
	
					button {
						width: 64px;
						height: 30px;
						border: none;
						font-size: 1.8rem;
						background-color: $charcoal;
						font-family: $primaryFont;
						color: $lightSalmon;
						text-transform: uppercase;
						margin-left: 186px;
						margin-top: 25px;
						&:hover {
							cursor: pointer;
							background-color: $lightSalmon;
							color: $charcoal;
						}
					}
				}
			}
		}
	}

	
}
