.location-container {
	width: 100vw;
	height: 500px;
	background-color: $lightSalmon;
	margin-top: 50px;
	position: relative;

	.location-info-container {
		width: 220px;
		height: 105px;
		position: absolute;
		background-color: $white;
		left: 128px;
		top: 88px;
		display: flex;
		flex-direction: column;
		align-items: center;

		h3 {
			font-family: $primaryFont;
			font-size: 6.2rem;
			color: $charcoal;
			text-transform: uppercase;
			position: relative;
			span {
				position: absolute;
				left: -90px;
				top: -30px;
			}
		}

		p {
			font-family: $secondaryFont;
			font-size: 1.5rem;
			color: $charcoal;
      padding: 45px 30px 20px 30px;
			
		}
	}
}
