.menu-container{
  width: 100vw;
  height: 894px;
  background-color: $lightGrey;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;

  h3 {
    font-family: $primaryFont;
    color: $charcoal;
    width: 206px;
    height: 50px;
    font-size: 6.2rem;
    line-height: 5.2rem;
    position: relative;
    text-transform: uppercase;
    z-index: 2;

    .line-through {
      width: 236px;
      height: 6px;
      position: absolute;
      left: -16px;
      top: 20px;
      background-color: $lightSalmon;
      z-index: -1;
    }
  }

  button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 91px;
    height: 30px;
    border: none;
    font-size: 1.8rem;
    background-color: $lightSalmon;
    font-family: $primaryFont;
    color: $charcoal;
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
      background-color: $charcoal;
      color: $lightSalmon;
    }
  }

  .menu-sections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 36px;
    
  }
}