.navigation-bar {
	width: $maxWidth;
	position: fixed;
	background-color: transparent;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 23px 35px;
	text-transform: uppercase;
	font-family: $primaryFont;
	color: $charcoal;
	font-size: 1.8rem;
  letter-spacing: 0.18px;
	z-index: 2;

	ul {
		display: flex;
		align-items: center;
		li a {
			&:visited {
				color: $charcoal;
			}
		}
    li{
      border-bottom: 1px solid transparent;
      &:hover{
        border-bottom: 1px solid $charcoal;
      }
    }
	}

	.nav-left {
		li {
			margin-right: 48px;
			&:first-child {
				font-size: 2.8rem;
				margin-right: 56px;
        &:hover{
          border-bottom: 1px solid transparent;
        }
			}
		}
	}
	.nav-right {
		li {
			margin-left: 48px;
		}
	}
}
