.scroll-spy {
	display: flex;
	justify-content: center;
	width: 30px;
	height: 120px;
	position: fixed;
	left: 30px;
	top: 45%;
	z-index: 3;
	background-color: transparent;
	font-family: $primaryFont;
	font-size: 1.8rem;
	color: $charcoal;
	text-decoration: line-through;
}

.homepage-offset {
	margin-top: 10px;
	position: relative;


	.line-through {
		width: 30px;
		height: 1.5px;
		color: $charcoal;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
	}
}

.community-offset {
	margin-top: 22px;
}

.location-offset {
	margin-top: 44px;
}

.menu-offset {
	margin-top: 66px;
}

.form-offset {
	margin-top: 88px;
}

.info-request {
	background-color: $white;
	width: 100px;
	height: 30px;
	position: fixed;
	right: 20px;
	top: 50%;
	z-index: 3;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotate(-90deg);

	&:hover {
		cursor: pointer;
		background-color: $charcoal;
	}
	p {
		font-size: 1.8rem;
		font-family: $primaryFont;
		text-transform: uppercase;
		color: $charcoal;

		&:hover {
			color: $white;
		}
	}
}
