
.menu-section {
	width: 270px;
  height: 894px;
	h2 {
		font-size: 6.2rem;
		font-family: $primaryFont;
		text-transform: uppercase;
		line-height: 52px;
		color: $charcoal;
	}
	h3 {
		font-size: 1.4rem;
		font-family: $primaryFont;
		color: $charcoal;
    margin-left: 36px;
    margin-top: 40px;
	}
	p {
    width: 192px;
		font-size: 1.5rem;
		font-family: $secondaryFont;
		letter-spacing: 0.15px;
    line-height: 20px;
		color: $mediumGrey;
    margin-left: 36px;
    margin-right: 36px;
	}

	.price-button {
		margin-top: 20px;
		width: 53.58px;
		height: 28px;
		border: 2px solid $lightSalmon;
		font-size: 1.8rem;
		background-color: transparent;
		font-family: $primaryFont;
		color: $charcoal;
		text-transform: uppercase;
    margin-left: 36px;
		&:hover {
			cursor: pointer;
			background-color: $charcoal;
			color: $lightSalmon;
      border: 2px solid $charcoal;
		}
	}
}
